extends layout

block content
  h1.display-4.text-center.mt-4
    | Contact Details 
  p.lead.text-center
    | Email Address : 
    a(href="mailto://patelbansari1805@gmail.com") patelbansari1805@gmail.com