extends layout

block content
  .row
    .col-6
      h1.display-5.text-center.mt-4
        | Contact Details 
      p.lead.text-center
        | Via E-mail
        br 
        a(href="mailto://patelbansari1805@gmail.com") patelbansari1805@gmail.com
    .col-6
      h1.display-5.text-center.mt-4
        |Connect 
        br
        a.fa.fa-facebook(href='https://www.facebook.com/bansaripatel')
        a.fa.fa-twitter(href='https://twitter.com/patelbansari18')
        a.fa.fa-linkedin(href='https://www.linkedin.com/in/bansari-patel-14290915a/')
        a.fa.fa-github(href='https://github.com/BansariPatel96')