extends layout

block content
  .container
    .row
      h3.display-6.mt-3
        |Web/Database Developer (Sept-Dec 2018) at Metvill Global Inc.
        h4 Duties
          ul.lead
            li  Performed Data Analysis of given data     
            li  Database design     
            li  Manipulate Database information into website     
            li  Creation of website layout interfaces using HTML/CSS     
            li  Develop testable and efficient code for web-based applicatio
            br
      h3.display-6.mt-3
        |Customer Service (Current) at KFC-Tacobell (part-time)
        h4 Duties
          ul.lead
            li  Greet customers politely as they approach to drive thru window 
            li  Take orders for food and drinks and input them in correctly into the database
            li  Hand customers their orders and thank them politely for choosing the service
            li  Handling 8-10 customers per hour
